.product-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  min-height: 100vh; /* Ensure the container has enough height for scrolling */
}

.product-main-image {
  border: solid 2px whitesmoke;
  padding: 20px;
}

.product-image-container {
  width: 50%;
  padding-right: 20px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: fit-content; /* Ensure height is set to fit the content */
}

.product-details {
  width: 50%;
  padding-left: 100px;
  padding-top: 30px;
}

.product-preview-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: left;
}

.product-preview-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid whitesmoke;
}

.product-description {
  margin-top: 50px;
  align-items: left;
}

.product-price-div {
  margin-top: 50px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.product-actions {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.custom-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }

  .product-image-container, .product-details {
    width: 100%;
    padding-right: 0;
  }
}

.enquire-btn {
  background-color: #d86f70;
  color: white;
  border-radius: 5px;
  width: 75%;
  height: 50px;
}

.enquire-btn:hover {
  background-color: #f00;
  color: white;
}
